<!-- FOOTER -->
<footer id="ovpc-footer">
    <div class="row">
        <!-- TOP -->
        <section id="footer-top">
            <!-- University of Michigan Logo -->
            <div id="footer-logo" class="column">
                <a href="https://www.umich.edu/">
                    <img src="images/logo-umich.png" alt="University of Michigan Logo">
                </a>
            </div>
            <!-- Contact Information -->
            <div id="footer-information" class="column">
                <h6 id="division-name">Division Name</h6>
                <p><a href="http://vpcomm.umich.edu/">Office of the Vice President for Communications</a></p>
                <p><a href="https://www.umich.edu/">University of Michigan</a></p>
                <p><a href="https://www.google.com/maps/place/Michigan+Creative/@42.277602,-83.754658,15z/data=!4m2!3m1!1s0x0:0x7179cad38238dce5?sa=X&ved=2ahUKEwiB2NzW-8TdAhWq7YMKHZ_hByEQ_BIwCnoECAoQCw">Argus I Building, 535 W. William St., Suite 2100<br>
                Ann Arbor, MI 48103</a></p>
                <p><a href="tel:+1-734-764-9270">(734) 764-9270</a></p>
            </div>
            <!-- Social Media -->
            <ul id="footer-social-media">
                <li><a href=""><i class="fab fa-facebook-f"></i><span class="screen-reader-text hidden">Facebook</span></a></li>
                <li><a href=""><i class="fab fa-twitter"></i><span class="screen-reader-text hidden">Twitter</span></a></li>
                <li><a href=""><i class="fab fa-instagram"></i><span class="screen-reader-text hidden">Instagram</span></a></li>
                <li><a href=""><i class="fab fa-linkedin-in"></i><span class="screen-reader-text hidden">LinkedIn</span></a></li>
                <li><a href=""><i class="fab fa-youtube"></i><span class="screen-reader-text hidden">Youtube</span></a></li>
            </ul>
        </section>
        <!-- MENUS -->
        <!-- Primary Menu -->
        <ul id="footer-menu-primary" class="footer-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/non-discrimination-policy">Non-discrimination policy</a></li>
            <li><a href="/privacy-policy">Privacy policy</a></li>
        </ul>
        <!-- Secondary Menu -->
        <ul id="footer-menu-secondary" class="footer-menu">
            <li><a href="https://www.umich.edu/">U-M Home</a></li>
            <li><a href="https://news.umich.edu/">Michigan News</a></li>
            <li><a href="https://media.umich.edu/">Michigan Media</a></li>
            <li><a href="https://diversity.umich.edu/">Diversity, Equity & Inclusion</a></li>
        </ul>
        <!-- BOTTOM -->
        <section id="footer-bottom">
            <!-- Copyright -->
            <span id="footer-copyright" class="column">
                &copy; 2018 <a href="http://regents.umich.edu/">Regents of the University of Michigan</a>
            </span>
            <!-- Credit -->
            <span id="footer-credit" class="column">
                Site by <a href="http://creative.umich.edu/">Michigan Creative</a>
            </span>
        </section>
    </div>
</footer>