/************************************************/
/******************** FONTS *********************/
/************************************************/

/*** FONT AWESOME 5 ***/
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');



/*** GOOGLE FONTS ***/
/* Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');





/************************************************/
/******************** FOOTER ********************/
/************************************************/

footer#ovpc-footer,
footer#ovpc-footer:before,
footer#ovpc-footer:after,
footer#ovpc-footer *,
footer#ovpc-footer *:before,
footer#ovpc-footer *:after {
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
}

footer#ovpc-footer {
    background: #00274c;
    color: #fff;
    font: 12px/1.5 'Open Sans', sans-serif;
}

/* Links */
footer#ovpc-footer a {
    color: #fff;
    text-decoration: underline;
}

footer#ovpc-footer a:hover {
    text-decoration: none;
}

/* Images */
footer#ovpc-footer img {
    height: auto;
    max-width: 100%;
}

/* Accessibility */
footer#ovpc-footer .screen-reader-text,
footer#ovpc-footer .hidden {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}



/*** GRID ***/
/* Row */
footer#ovpc-footer .row {
    display: block;
    margin: 0 auto;
    max-width: 75.75rem;
}

/* Column */
footer#ovpc-footer .column {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: inherit;
}



/*** TOP ***/
footer#ovpc-footer #footer-top {
    display: flex;
    font-size: 1.167em;
    justify-content: space-between;
    padding-bottom: 3.5em;
    padding-top: 4.5em;
}

footer#ovpc-footer #footer-top > .column {
    flex: 0 0 auto;
}

/* Logo */
footer#ovpc-footer #footer-top #footer-logo {
    max-width: 10em;
}

footer#ovpc-footer #footer-top #footer-logo a {
    display: block;
}

/* Information */
footer#ovpc-footer #footer-top #footer-information {
    flex-grow: 1;
}

footer#ovpc-footer #footer-top #footer-information * {
    margin: 0;
}

footer#ovpc-footer #footer-top #footer-information #division-name {
    color: #ffcb05;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
}

footer#ovpc-footer #footer-top #footer-information a {
    display: inline-block;
    position: relative;
}

footer#ovpc-footer #footer-top #footer-information a.address,
footer#ovpc-footer #footer-top #footer-information a[href*='google.com/maps'],
footer#ovpc-footer #footer-top #footer-information a.phone,
footer#ovpc-footer #footer-top #footer-information a[href^='tel:'],
footer#ovpc-footer #footer-top #footer-information a.email,
footer#ovpc-footer #footer-top #footer-information a[href^='mailto:'] {
    padding-left: 2em;
}

footer#ovpc-footer #footer-top #footer-information a:before {
    color: #ffcb05;
    font: 900 1em/1 'Font Awesome 5 Free';
    left: 0;
    position: absolute;
    top: 0.25em;
}

footer#ovpc-footer #footer-top #footer-information a.address:before,
footer#ovpc-footer #footer-top #footer-information a[href*='google.com/maps']:before {
    content: '\f3c5';
}

footer#ovpc-footer #footer-top #footer-information a.phone:before,
footer#ovpc-footer #footer-top #footer-information a[href^='tel:']:before {
    content: '\f095';
}

footer#ovpc-footer #footer-top #footer-information a.email:before,
footer#ovpc-footer #footer-top #footer-information a[href^='mailto:']:before {
    content: '\f0e0';
}

/* Social Media */
footer#ovpc-footer #footer-top #footer-social-media {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer#ovpc-footer #footer-top #footer-social-media > li {
    display: inline-block;
    padding: 0.25em 0.9375em;
}

footer#ovpc-footer #footer-top #footer-social-media a {
    color: #ffcb05;
}

footer#ovpc-footer #footer-top #footer-social-media i {
    font-size: 1.57em;
}



/*** MENUS ***/
/* Menus */
footer#ovpc-footer > .row > ul.footer-menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

footer#ovpc-footer > .row > ul.footer-menu + ul.footer-menu {
    margin-top: 0.9375rem;
    padding-top: 0.9375rem;
}

footer#ovpc-footer > .row > ul.footer-menu + ul.footer-menu:before {
    background-color: #fff;
    content: '';
    height: 1px;
    left: 0.9375rem;
    position: absolute;
    right: 0.9375rem;
    top: 0;
}

footer#ovpc-footer > .row > ul.footer-menu > li {
    display: inline-block;
    padding: 0 0.9375rem;
    position: relative;
}

footer#ovpc-footer > .row > ul.footer-menu > li:before {
    background-color: #fff;
    height: 1em;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

footer#ovpc-footer > .row > ul.footer-menu > li + li:before {
    content: '';
}

footer#ovpc-footer > .row > ul#footer-menu-secondary > li:before {
    background-color: #ffcb05;
}

footer#ovpc-footer > .row > ul.footer-menu a {
    text-decoration: none;
}

footer#ovpc-footer > .row > ul#footer-menu-secondary a {
    color: #ffcb05;
    font-weight: 700;
}

footer#ovpc-footer > .row > ul.footer-menu a:hover {
    text-decoration: underline;
}



/*** BOTTOM ***/
footer#ovpc-footer #footer-bottom {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.9375rem;
}

footer#ovpc-footer > .row > ul.footer-menu + #footer-bottom {
    padding-top: 3em;
}

footer#ovpc-footer #footer-bottom > span {
    flex: 0 0 auto;
}

/* Copyright */
footer#ovpc-footer #footer-bottom #footer-copyright {
    flex-grow: 1;
}









/************************************************/
/***************** MEDIA QUERIES ****************/
/************************************************/

/* 1024px */
@media only screen and ( max-width: 64rem ) {



    /*** TOP ***/
    footer#ovpc-footer #footer-top {
        font-size: 1em;
        padding-top: 2.5em;
    }



    /*** BOTTOM ***/
    footer#ovpc-footer #footer-bottom {
        font-size: 0.917em;
    }



}



/* 832px */
@media only screen and ( max-width: 52rem ) {



    /*** TOP ***/
    /* Information */
    footer#ovpc-footer #footer-top #footer-information {
        flex-shrink: 1;
    }

    /* Social Media */
    footer#ovpc-footer #footer-top #footer-social-media {
        display: none;
    }



    /*** BOTTOM ***/
    footer#ovpc-footer #footer-bottom {
        font-size: 0.833em;
    }



}



/* 640px */
@media only screen and ( max-width: 40rem ) {



    footer#ovpc-footer {
        font-size: 10px;
    }



    /*** TOP ***/
    footer#ovpc-footer #footer-top {
        padding-bottom: 2em;
        padding-top: 2em;
    }

    /* Logo */
    footer#ovpc-footer #footer-top #footer-logo {
        margin-right: -0.9375rem;
        max-width: 8em;
    }



    /*** MENUS ***/
    footer#ovpc-footer > .row > ul.footer-menu > li {
        flex-basis: 50%;
        padding: 0.5em 0.9375rem;
    }

    footer#ovpc-footer > .row > ul.footer-menu > li + li:before {
        content: none;
    }



    /*** BOTTOM ***/
    footer#ovpc-footer #footer-bottom {
        font-size: 1em;
    }

    footer#ovpc-footer > .row > ul.footer-menu + #footer-bottom {
        padding-top: 2em;
    }



}



/* 320px */
@media only screen and ( max-width: 20rem ) {



    /*** TOP ***/
    footer#ovpc-footer #footer-top {
        flex-wrap: wrap;
    }

    /* Logo */
    footer#ovpc-footer #footer-top #footer-logo {
        flex-basis: 100%;
        margin: 0 auto 2em auto;
    }



    /*** MENUS ***/
    footer#ovpc-footer > .row > ul.footer-menu > li {
        flex-basis: 100%;
    }



    /*** BOTTOM ***/
    /* Copyright */
    footer#ovpc-footer #footer-bottom #footer-copyright {
        flex-shrink: 1;
    }



}